<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
  <styleBundle path="~/Content/assets/css">
    <include path="~/Content/assets/css/aos.css" />
	<include path="~/Content/assets/css/swiper-bundle.css"/>
	<include path="~/Content/styles.css"/>
  </styleBundle>
	<styleBundle path="~/Content/css/bootstrap">
		<include path="~/Content/assets/css/bootstrap.css" />
		<include path="~/Content/assets/css/bootstrap-icons.css"/>
	</styleBundle>
<styleBundle path="~/Admin/assets/css">
	<include path="~/Admin/assets/css/ad_style.css" />
</styleBundle>
</bundles>