
@{
    ViewBag.Title = "Thankyou";
}
<div class="section">
    <div class="content py-5">
        <div class="container my-5">
            <div class="row">
                <div class="col-lg-6 offset-md-3 offset-0">
                    <div class="title text-center">
                        <h3>Cảm ơn bạn đã đặt hàng</h3>
                        <a href="/tra-cuu-don-hang">Xem đơn hàng đã đặt</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>