    <div id="notfound">
        <div class="notfound">
            <div class="notfound-404">
                <h1>ERR<span>O</span>R</h1>
            </div>
            <h2>Có lỗi xảy ra</h2>
            <a href="/" class="my-btn py-2 px-3">Quay về trang chủ</a>
        </div>
    </div>
