
@{
    ViewBag.Title = "Index";
}
<div class="section py-5">
    <div class="content">
        <div class="container">
            <div class="container px-md-5 px-0">
                <div class="title center mb-5">
                    <h3>FAQs</h3>
                </div>
                <div class="row">
                    <div class="col-md-6 order-md-0 order-sm-1">
                        <div class="wrap-qa p-lg-5 p-0">
                            <div class="item-flip">
                                <div class="flip"><p>Các sản phẩm lỗi được bảo hành trong thời gian bao lâu?</p></div>
                                <div class="panel"><p>Các sản phẩm lỗi sẽ được bảo hành trong khoảng thời gian dự kiến là 5-7 ngày, không tính thời gian chuyển hàng đi và về.</p></div>
                            </div>
                            <div class="item-flip">
                                <div class="flip"><p>Tôi có thể hủy hay thay đổi các giao dịch đã thực hiện hay không ?</p></div>
                                <div class="panel"><p>Rất tiếc chúng tôi chưa hỗ trợ hủy, hoàn lại hoặc thay đổi giao dịch đã hoàn thành.!</p></div>
                            </div>
                            <div class="item-flip">
                                <div class="flip"><p>Tôi nhập sai số điện thoại ( email ) nhận mã, có thể gửi lại cho tôi với số điện thoại ( email ) đúng được không</p></div>
                                <div class="panel"><p>Chúng tôi hiện chưa hỗ trợ gửi lại mã thẻ cho bất kỳ số điện thoại hoặc email nào khác ngoài email và số điện thoại đã đăng ký khi giao dịch. Rất mong quý khách thông cảm vui lòng kiểm tra lại thông tin nhận mã trước khi hoàn tất thanh toán.</p></div>
                            </div>
                            <div class="item-flip">
                                <div class="flip"><p>Trường Hợp Nào Thì Tôi Được Đổi Sản Phẩm?</p></div>
                                <div class="panel">
                                    <p>Chúng tôi chỉ đổi sản phẩm trong trường hợp sản phẩm bị lỗi không phát sinh từ phía khách hàng, cụ thể gồm những trường hợp dưới đây:</p>
                                    <ul>
                                        <li>Lỗi kỹ thuật của sản phẩm</li>
                                        <li>Hàng hóa bị bể vỡ trước khi đến tay khách hàng</li>
                                        <li>Giao sai sản phẩm</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="item-flip">
                                <div class="flip"><p>Trong Trường Hợp Giỏ Hàng Của Tôi Vừa Có Sản Phẩm Được Giao Trong 2 Tiếng Vừa Có Sản Phẩm Không Được Giao Trong 2 Tiếng Thì Tôi Sẽ Nhận Hàng Khi Nào?</p></div>
                                <div class="panel">
                                    <p>
                                        Trong trường hợp đơn hàng của bạn vừa có sản phẩm được giao trong 2 tiếng vừa có sản phẩm không được giao trong 2 tiếng thì cả đơn hàng sẽ được áp dụng gói giao hàng tiêu chuẩn (giao thường).
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-5 order-md-1 order-sm-0">
                        <div class="single-image">
                            <img src="./assets/img/FAQs-x2.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>