USE [master]
GO
/****** Object:  Database [schatz]    Script Date: 9/8/2021 00:59:51 ******/
CREATE DATABASE [schatz]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'schatz', FILENAME = N'C:\schatz.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'schatz_log', FILENAME = N'C:\schatz_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
USE [schatz]
GO
/****** Object:  Table [dbo].[FRIENDS]    Script Date: 9/8/2021 00:59:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FRIENDS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[USER1] [int] NOT NULL,
	[USER2] [int] NOT NULL,
	[STATUS] [int] NULL DEFAULT ((1)),
 CONSTRAINT [PK_FRIENDS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GROUP_MEMBER]    Script Date: 9/8/2021 00:59:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GROUP_MEMBER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_GROUP] [int] NULL,
	[ID_USER] [int] NULL,
	[TYPE] [int] NULL DEFAULT ((2)),
 CONSTRAINT [PK_GROUP_MEMBER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GROUP_MESSAGES]    Script Date: 9/8/2021 00:59:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GROUP_MESSAGES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_GROUP] [int] NULL,
	[ID_USER] [int] NULL,
	[CONTENT] [ntext] NULL,
	[TYPE] [int] NULL,
	[DATE_OF_SEND] [datetime] NULL,
 CONSTRAINT [PK_GROUP_MESSAGES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GROUPS]    Script Date: 9/8/2021 00:59:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GROUPS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](255) NULL,
	[DATE_TIME] [datetime] NULL DEFAULT (getdate()),
	[AVATAR] [nvarchar](100) NULL,
	[NUMBERMEMBER] [int] NULL,
 CONSTRAINT [PK_GROUPS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MESSAGE_S]    Script Date: 9/8/2021 00:59:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MESSAGE_S](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_FRIEND] [int] NULL,
	[ID_SEND] [int] NULL,
	[ID_RECEIVE] [int] NULL,
	[CONTENT] [ntext] NULL,
	[STATUS] [int] NULL DEFAULT ((1)),
	[DATE_OF_SEND] [datetime] NULL,
	[TYPE] [int] NULL DEFAULT ((0)),
 CONSTRAINT [PK_MESSAGE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NOTIFICATIONS]    Script Date: 9/8/2021 00:59:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NOTIFICATIONS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_USER] [int] NULL,
	[CONTENT] [ntext] NULL,
	[DATE_TIME] [datetime] NULL,
	[TYPE] [int] NULL DEFAULT ((0)),
	[TITLE] [nvarchar](max) NULL,
 CONSTRAINT [PK_NOTIFICATIONS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[USER_ACCOUNT]    Script Date: 9/8/2021 00:59:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[USER_ACCOUNT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](50) NOT NULL,
	[SURNAME] [nvarchar](50) NOT NULL,
	[USERNAME] [nvarchar](50) NOT NULL,
	[PASSWORD] [varchar](50) NOT NULL,
	[SEX] [int] NOT NULL,
	[EMAIL] [varchar](100) NULL,
	[ADDRESS] [nvarchar](100) NULL,
	[YEAR_OF_BIRTH] [date] NULL,
	[STATUS] [int] NULL CONSTRAINT [DF__USER_ACCO__STATU__117F9D94]  DEFAULT ((0)),
	[AVATAR] [nvarchar](100) NULL,
	[BACKGROUND] [nvarchar](100) NULL,
 CONSTRAINT [PK_USER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ__USER_ACC__B15BE12E2F7900B1] UNIQUE NONCLUSTERED 
(
	[USERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[FRIENDS]  WITH CHECK ADD  CONSTRAINT [FK_USER1_USER] FOREIGN KEY([USER1])
REFERENCES [dbo].[USER_ACCOUNT] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FRIENDS] CHECK CONSTRAINT [FK_USER1_USER]
GO
ALTER TABLE [dbo].[GROUP_MEMBER]  WITH CHECK ADD  CONSTRAINT [FK_GROUP_MEMBER_GROUP] FOREIGN KEY([ID_GROUP])
REFERENCES [dbo].[GROUPS] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GROUP_MEMBER] CHECK CONSTRAINT [FK_GROUP_MEMBER_GROUP]
GO
ALTER TABLE [dbo].[GROUP_MEMBER]  WITH CHECK ADD  CONSTRAINT [FK_GROUP_MEMBER_USER] FOREIGN KEY([ID_USER])
REFERENCES [dbo].[USER_ACCOUNT] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GROUP_MEMBER] CHECK CONSTRAINT [FK_GROUP_MEMBER_USER]
GO
ALTER TABLE [dbo].[GROUP_MESSAGES]  WITH CHECK ADD  CONSTRAINT [FK_GROUP_MESSAGES_GROUP] FOREIGN KEY([ID_GROUP])
REFERENCES [dbo].[GROUPS] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GROUP_MESSAGES] CHECK CONSTRAINT [FK_GROUP_MESSAGES_GROUP]
GO
ALTER TABLE [dbo].[GROUP_MESSAGES]  WITH CHECK ADD  CONSTRAINT [FK_GROUP_MESSAGES_USER] FOREIGN KEY([ID_USER])
REFERENCES [dbo].[USER_ACCOUNT] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GROUP_MESSAGES] CHECK CONSTRAINT [FK_GROUP_MESSAGES_USER]
GO
ALTER TABLE [dbo].[MESSAGE_S]  WITH CHECK ADD  CONSTRAINT [FK_ID_SEND_USER] FOREIGN KEY([ID_SEND])
REFERENCES [dbo].[USER_ACCOUNT] ([ID])
GO
ALTER TABLE [dbo].[MESSAGE_S] CHECK CONSTRAINT [FK_ID_SEND_USER]
GO
ALTER TABLE [dbo].[MESSAGE_S]  WITH CHECK ADD  CONSTRAINT [FK_IDFRIEND_FRIEND] FOREIGN KEY([ID_FRIEND])
REFERENCES [dbo].[FRIENDS] ([ID])
GO
ALTER TABLE [dbo].[MESSAGE_S] CHECK CONSTRAINT [FK_IDFRIEND_FRIEND]
GO
ALTER TABLE [dbo].[MESSAGE_S]  WITH CHECK ADD  CONSTRAINT [FK_IDRECEIVE_USER] FOREIGN KEY([ID_RECEIVE])
REFERENCES [dbo].[USER_ACCOUNT] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MESSAGE_S] CHECK CONSTRAINT [FK_IDRECEIVE_USER]
GO
ALTER TABLE [dbo].[NOTIFICATIONS]  WITH CHECK ADD  CONSTRAINT [FK_NOTIFICATIONS_USER] FOREIGN KEY([ID_USER])
REFERENCES [dbo].[USER_ACCOUNT] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NOTIFICATIONS] CHECK CONSTRAINT [FK_NOTIFICATIONS_USER]
GO
USE [master]
GO

-------TRIGGER

GO
CREATE TRIGGER [dbo].[ADD_ID_FRIEND] ON [dbo].[USER_ACCOUNT]
FOR INSERT
AS
BEGIN
	INSERT INTO FRIENDS (USER1,USER2)
	SELECT A.ID, B.ID FROM inserted A, USER_ACCOUNT B WHERE B.ID<> A.ID
END

GO
CREATE TRIGGER [dbo].[DeleteGroup]
    ON [dbo].[GROUP_MEMBER]
    FOR DELETE
    AS
    BEGIN
        DECLARE @NUMBER INT
		SET @NUMBER = (SELECT COUNT(*) FROM [GROUP_MEMBER] WHERE ID_GROUP = (select ID_GROUP from deleted))
		if(@NUMBER = 0)
			DELETE GROUPS
			WHERE ID = (select ID_GROUP from deleted)
    END
GO
CREATE TRIGGER [dbo].[UPDATE_NUMBER_MEMBER]
    ON [dbo].[GROUP_MEMBER]
    FOR DELETE, INSERT, UPDATE
    AS
    BEGIN
	UPDATE GROUPS
	SET NUMBERMEMBER = (select count(*) from GROUP_MEMBER where ID_GROUP = GROUPS.ID)
    END

GO
CREATE TRIGGER [dbo].[updateLeader]
    ON [dbo].[GROUP_MEMBER]
    FOR DELETE
    AS
    BEGIN
		if (select ID from deleted where TYPE = 0 ) > 0
			begin 
				update GROUP_MEMBER
				set TYPE = 0 
					where ID = (select top 1 ID from GROUP_MEMBER where ID_GROUP = (select ID_GROUP from deleted))
					print 'co'
			end
			
		else
			print 'khong co'
    END