
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage.cshtml";
}
<div class="main mt-0 p-3">
    <div class="row">
        <div class="col-lg-3 mb-4">
            <div class="box-item">
                <div class="d-flex HUAOASAY">
                    <div class="text">
                        <h6 class="mb-0">Thống kê doanh thu</h6>
                    </div>
                    <div class="icon-view">
                        <a href="/admin/thong-ke/doanh-thu" class="btn btn-primary btn-sm">Xem</a>
                    </div>
                </div>
            </div>
        </div>
        @*<div class="col-lg-3 mb-4">
            <div class="box-item">
                <div class="d-flex HUAOASAY">
                    <div class="text">
                        <h6 class="mb-0">Thống kê đơn hàng</h6>
                    </div>
                    <div class="icon-view">
                        <a href="/admin/thong-ke/don-hang" class="btn btn-primary btn-sm">Xem</a>
                    </div>
                </div>
            </div>
        </div>*@
        <div class="col-lg-3 mb-4">
            <div class="box-item">
                <div class="d-flex HUAOASAY">
                    <div class="text">
                        <h6 class="mb-0">Thống kê khách hàng</h6>
                    </div>
                    <div class="icon-view">
                        <a href="/admin/thong-ke/khach-hang" class="btn btn-primary btn-sm">Xem</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 mb-4">
            <div class="box-item">
                <div class="d-flex HUAOASAY">
                    <div class="text">
                        <h6 class="mb-0">Thống kê nhân viên</h6>
                    </div>
                    <div class="icon-view">
                        <a href="/admin/thong-ke/nhan-vien" class="btn btn-primary btn-sm">Xem</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 mb-4">
            <div class="box-item">
                <div class="d-flex HUAOASAY">
                    <div class="text">
                        <h6 class="mb-0">Thống kê sản phẩm</h6>
                    </div>
                    <div class="icon-view">
                        <a href="/admin/thong-ke/san-pham" class="btn btn-primary btn-sm">Xem</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
